<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.tis.webdriver.testcases.plannertests.TraceTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_011_VerifyTrace</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_003_VerifyAvailableSitesInDropDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_007_VerifyTheDriverSelection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_001_loadTracePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_013_VerifyTheVehicleSelection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_004_VerifyAvailableDriversInDropDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_010_VerifyHideAsset</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_014_VerifyTheSelectedVehicleAvailabeInAsset</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_012_VerifyTheDriverSelection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_002_VerifyDefaultMapLoad</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_009_VeriFyShiftDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_006__VerifyToggle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_005_VerifyAvailableVehiclesInDropDownMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_008_Date</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>plannerTrace_015_VerifySearch</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
