<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Pool]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77a679">  <td>17/09/28 11:43:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@4d49af10]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/09/28 11:43:37</td>   <td>12676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@4d49af10]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/09/28 11:43:53</td>   <td>28717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@4d49af10]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/09/28 11:44:03</td>   <td>38725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@4d49af10]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>17/09/28 11:43:24</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_008_Date(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@4d49af10]">plannerTrace_008_Date</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>17/09/28 11:43:28</td>   <td>3552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_011_VerifyTrace(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@4d49af10]">plannerTrace_011_VerifyTrace</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>17/09/28 11:44:00</td>   <td>35722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_013_VerifyTheVehicleSelection(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@4d49af10]">plannerTrace_013_VerifyTheVehicleSelection</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>17/09/28 11:43:44</td>   <td>19688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_014_VerifyTheSelectedVehicleAvailabeInAsset(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@4d49af10]">plannerTrace_014_VerifyTheSelectedVehicleAvailabeInAsset</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>17/09/28 11:43:16</td>   <td>-8234</td> <td>&nbsp;</td><td title="&gt;&gt;TraceTests.setUP()[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@4d49af10]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/09/28 11:43:16</td>   <td>-8203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@4d49af10]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/09/28 11:43:25</td>   <td>551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@4d49af10]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/09/28 11:43:41</td>   <td>16687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@4d49af10]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/09/28 11:43:57</td>   <td>32721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@4d49af10]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/09/28 11:44:07</td>   <td>42779</td> <td title="&lt;&lt;NewTestTemplate.tearDown()[pri:0, instance:com.tis.webdriver.testcases.logintests.LoginTests@4450d156]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
</table>
