<h2>Methods that were not run</h2><table>
<tr><td>com.tis.webdriver.testcases.plannertests.TraceTests.plannerTrace_003_VerifyAvailableSitesInDropDown</td></tr>
<tr><td>com.tis.webdriver.testcases.logintests.LoginTests.userLoginTest</td></tr>
<tr><td>com.tis.webdriver.testcases.logintests.LoginTests.loadMapPage</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.TraceTests.plannerTrace_015_VerifySearch</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.TraceTests.plannerTrace_002_VerifyDefaultMapLoad</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.TraceTests.plannerTrace_004_VerifyAvailableDriversInDropDown</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.TraceTests.plannerTrace_012_VerifyTheDriverSelection</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.TraceTests.plannerTrace_010_VerifyHideAsset</td></tr>
<tr><td>com.tis.webdriver.testcases.logintests.LoginTests.navigateToTis</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.TraceTests.plannerTrace_006__VerifyToggle</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.TraceTests.plannerTrace_005_VerifyAvailableVehiclesInDropDownMenu</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.TraceTests.plannerTrace_009_VeriFyShiftDetails</td></tr>
<tr><td>com.tis.webdriver.common.template.NewTestTemplate.tearDown</td></tr>
<tr><td>com.tis.webdriver.testcases.logintests.LoginTests.logoutTest</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.TraceTests.plannerTrace_007_VerifyTheDriverSelection</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.TraceTests.plannerTrace_001_loadTracePage</td></tr>
</table>