<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.tis.webdriver.testcases.notificationstests.ActiveNotificationsListTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>notification_012_VeriFyMediumNotificationsForLastMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_003_VerifyNotificationsForLastMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_009_VeriFyLowNotificationsForLastThreeMonths</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_020_VeriFyMediumNotificationsForLastWeek</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_006_VeriFyCriticalNotificationsForLastThreeMonths</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_017_VeriFyLowNotificationsForCurrenttMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_002_VerifyNotificationsForLastWeek</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_015_VeriFyHighNotificationsForCurrenttMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_004_VerifyNotificationsForCurrentMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_018_VeriFyCriticalNotificationsForLastWeek</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_019_VeriFyHighNotificationsForLastWeek</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_008_VeriFyMediumNotificationsForLastThreeMonths</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_013_VeriFyLowNotificationsForLastMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_005_VerifyNotificationsForCurrentWeek</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_014_VeriFyCriticalNotificationsForCurrenttMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_021_VeriFyLowNotificationsForLastWeek</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_007_VeriFyHighNotificationsForLastThreeMonths</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_016_VeriFyMediumNotificationsForCurrenttMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_010_VeriFyCriticalNotificationsForLastMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_011_VeriFyHighNotificationsForLastMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_001_VerifyNotificationsForLastThreeMonths</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
