<h2>Methods that were not run</h2><table>
<tr><td>com.tis.webdriver.testcases.logintests.LoginTests.navigateToTis</td></tr>
<tr><td>com.tis.webdriver.testcases.logintests.LoginTests.loadMapPage</td></tr>
<tr><td>com.tis.webdriver.testcases.logintests.LoginTests.logoutTest</td></tr>
<tr><td>com.tis.webdriver.testcases.notificationstests.NotificationsVerifyMoreTest.notifications_001_ClickSetAsDone</td></tr>
</table>