<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Pool</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee9faa">  <td>17/10/17 16:34:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.logintests.LoginTests@290dbf45]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1007309018</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>17/10/17 16:35:12</td>   <td>12620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationsVerifyMoreTest@3444d69d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1007309018</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>17/10/17 16:35:32</td>   <td>32991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationsVerifyMoreTest@3444d69d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1007309018</td>   <td></td> </tr>
<tr bgcolor="6d6fe6">  <td>17/10/17 16:34:59</td>   <td>17</td> <td>&nbsp;</td><td title="&gt;&gt;NotificationsVerifyMoreTest.notificationInitiations()[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationsVerifyMoreTest@3444d69d]">&gt;&gt;notificationInitiations</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1007309018</td>   <td></td> </tr>
<tr bgcolor="6d6fe6">  <td>17/10/17 16:35:11</td>   <td>12188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationsVerifyMoreTest.notifications_002_EditTest(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationsVerifyMoreTest@3444d69d]">notifications_002_EditTest</td> 
  <td>main@1007309018</td>   <td></td> </tr>
<tr bgcolor="6d6fe6">  <td>17/10/17 16:35:15</td>   <td>15622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationsVerifyMoreTest.notifications_003_VerifyMore(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationsVerifyMoreTest@3444d69d]">notifications_003_VerifyMore</td> 
  <td>main@1007309018</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>17/10/17 16:34:16</td>   <td>-43361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.logintests.LoginTests@290dbf45]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1007309018</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>17/10/17 16:35:08</td>   <td>9188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationsVerifyMoreTest@3444d69d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1007309018</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>17/10/17 16:35:12</td>   <td>12621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationsVerifyMoreTest@3444d69d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1007309018</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>17/10/17 16:35:32</td>   <td>33370</td> <td title="&lt;&lt;NewTestTemplate.tearDown()[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationsVerifyMoreTest@3444d69d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1007309018</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>17/10/17 16:34:26</td>   <td>-33223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.userLoginTest()[pri:0, instance:com.tis.webdriver.testcases.logintests.LoginTests@290dbf45]">userLoginTest</td> 
  <td>main@1007309018</td>   <td></td> </tr>
</table>
