<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.tis.webdriver.testcases.plannertests.PlannerTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyAvailableVehicles</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyAvailableSites</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyAvailableDrivers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyPlannerPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
