<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.tis.webdriver.testcases.logintests.LoginTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>navigateToTis</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>userLoginTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loadMapPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logoutTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.tis.webdriver.testcases.plannertests.CurrentStatus_VerifySliderButtonTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>currentStatus_009_PrintCurrentStausDriver</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>currentStatus_002_verifySliderButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>currentStatus_008_clickOnVehicleBarGraph</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>currentStatus_006_VerifyMapView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>currentStatus_001_VerifyRemainingDrivingDefaultValue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>currentStatus_003_VerifyFullViewMode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>currentStatus_005_VerifyVideoCounterData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>currentStatus_004_VerifyTheRemainingDrivingTimeForTheDrivers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>currentStatus_007_ClickonToggleBttn</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.tis.webdriver.testcases.plannertests.CurrentStatus_SearchTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>currentStatus_001_SerchDriverInAsset</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>currentStatus_002_SearchVehicleInAsset</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>currentStatus_003_VerifySearchSuggestions</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
