<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Pool]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9a7fe">  <td>17/10/04 17:53:38</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ReportsFavouriteTests.clickOnReports()[pri:0, instance:com.tis.webdriver.testcases.reportstests.ReportsFavouriteTests@516be40f]">&gt;&gt;clickOnReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="72eda5">  <td>17/10/04 17:53:53</td>   <td>15209</td> <td>&nbsp;</td><td title="&gt;&gt;ReportsTests.clickOnReports()[pri:0, instance:com.tis.webdriver.testcases.reportstests.ReportsTests@146044d7]">&gt;&gt;clickOnReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="79c292">  <td>17/10/04 17:53:18</td>   <td>-20308</td> <td>&nbsp;</td><td title="&gt;&gt;CurrentStatus_VerifySliderButtonTests.currentStatusClickOnPlanner()[pri:0, instance:com.tis.webdriver.testcases.plannertests.CurrentStatus_VerifySliderButtonTests@1e9e725a]">&gt;&gt;currentStatusClickOnPlanner</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="b7a691">  <td>17/10/04 17:54:39</td>   <td>61337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CurrentStatus_SearchTest.currentStatus_001_SerchDriverInAsset(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.CurrentStatus_SearchTest@15d9bc04]">currentStatus_001_SerchDriverInAsset</td> 
  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="b7a691">  <td>17/10/04 17:55:09</td>   <td>91354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CurrentStatus_SearchTest.currentStatus_002_SearchVehicleInAsset(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.CurrentStatus_SearchTest@15d9bc04]">currentStatus_002_SearchVehicleInAsset</td> 
  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="79c292">  <td>17/10/04 17:54:11</td>   <td>33345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CurrentStatus_VerifySliderButtonTests.currentStatus_003_VerifyFullViewMode(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.CurrentStatus_VerifySliderButtonTests@1e9e725a]">currentStatus_003_VerifyFullViewMode</td> 
  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="b7a691">  <td>17/10/04 17:56:32</td>   <td>174463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CurrentStatus_SearchTest.currentStatus_003_VerifySearchSuggestions(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.CurrentStatus_SearchTest@15d9bc04]">currentStatus_003_VerifySearchSuggestions</td> 
  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>17/10/04 17:53:07</td>   <td>-30617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.logintests.LoginTests@2d127a61]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>17/10/04 17:54:36</td>   <td>57879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.CurrentStatus_VerifySliderButtonTests@1e9e725a]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>17/10/04 17:55:06</td>   <td>87956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.CurrentStatus_SearchTest@15d9bc04]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>17/10/04 17:56:29</td>   <td>171000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.CurrentStatus_SearchTest@15d9bc04]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>17/10/04 17:57:00</td>   <td>201829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.CurrentStatus_SearchTest@15d9bc04]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="b7a691">  <td>17/10/04 17:53:07</td>   <td>-30597</td> <td>&nbsp;</td><td title="&gt;&gt;CurrentStatus_SearchTest.setUP()[pri:0, instance:com.tis.webdriver.testcases.plannertests.CurrentStatus_SearchTest@15d9bc04]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>17/10/04 17:52:05</td>   <td>-93416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.logintests.LoginTests@2d127a61]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="959ed8">  <td>17/10/04 17:53:28</td>   <td>-10183</td> <td>&nbsp;</td><td title="&gt;&gt;DashboardTests.setUp()[pri:0, instance:com.tis.webdriver.testcases.dashboardtests.DashboardTests@473b46c3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>17/10/04 17:54:08</td>   <td>30344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.CurrentStatus_VerifySliderButtonTests@1e9e725a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>17/10/04 17:54:36</td>   <td>58337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.CurrentStatus_SearchTest@15d9bc04]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>17/10/04 17:55:06</td>   <td>88354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.CurrentStatus_SearchTest@15d9bc04]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>17/10/04 17:56:29</td>   <td>171461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.CurrentStatus_SearchTest@15d9bc04]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>17/10/04 17:57:00</td>   <td>201856</td> <td title="&lt;&lt;NewTestTemplate.tearDown()[pri:0, instance:com.tis.webdriver.testcases.logintests.LoginTests@3c0a50da]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1147258851</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>17/10/04 17:52:18</td>   <td>-80353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.userLoginTest()[pri:0, instance:com.tis.webdriver.testcases.logintests.LoginTests@2d127a61]">userLoginTest</td> 
  <td>main@1147258851</td>   <td></td> </tr>
</table>
