<h2>Methods that were not run</h2><table>
<tr><td>com.tis.webdriver.testcases.logintests.LoginTests.navigateToTis</td></tr>
<tr><td>com.tis.webdriver.testcases.logintests.LoginTests.loadMapPage</td></tr>
<tr><td>com.tis.webdriver.testcases.logintests.LoginTests.logoutTest</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.CurrentStatus_VerifySliderButtonTests.currentStatus_005_VerifyVideoCounterData</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.CurrentStatus_VerifySliderButtonTests.currentStatus_006_VerifyMapView</td></tr>
<tr><td>com.tis.webdriver.testcases.reportstests.ReportsFavouriteTests.reports_002_VerifyFavouriteReport_VehiclesTab</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.CurrentStatus_VerifySliderButtonTests.currentStatus_002_verifySliderButton</td></tr>
<tr><td>com.tis.webdriver.testcases.logintests.LoginTests.navigateToTis</td></tr>
<tr><td>com.tis.webdriver.testcases.reportstests.ReportsTests.reports_006_VehicleEventDetailsSearchInVehicleTab</td></tr>
<tr><td>com.tis.webdriver.common.template.NewTestTemplate.tearDown</td></tr>
<tr><td>com.tis.webdriver.common.template.NewTestTemplate.tearDown</td></tr>
<tr><td>com.tis.webdriver.common.template.NewTestTemplate.tearDown</td></tr>
<tr><td>com.tis.webdriver.common.template.NewTestTemplate.tearDown</td></tr>
<tr><td>com.tis.webdriver.common.template.NewTestTemplate.tearDown</td></tr>
<tr><td>com.tis.webdriver.testcases.logintests.LoginTests.logoutTest</td></tr>
<tr><td>com.tis.webdriver.testcases.reportstests.ReportsTests.reports_002_DriverEventDetailsSearchVerification</td></tr>
<tr><td>com.tis.webdriver.testcases.dashboardtests.DashboardTests.test_002_verifyTasksTODOPopup</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.CurrentStatus_VerifySliderButtonTests.currentStatus_008_clickOnVehicleBarGraph</td></tr>
<tr><td>com.tis.webdriver.testcases.reportstests.ReportsTests.reports_001_DriverReportSearchVerifications</td></tr>
<tr><td>com.tis.webdriver.testcases.dashboardtests.DashboardTests.test_004_VerifyGoToNotificationsButtonIsWorking</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.CurrentStatus_VerifySliderButtonTests.currentStatus_001_VerifyRemainingDrivingDefaultValue</td></tr>
<tr><td>com.tis.webdriver.testcases.dashboardtests.DashboardTests.test_003_verifyAvailableDriver</td></tr>
<tr><td>com.tis.webdriver.testcases.logintests.LoginTests.userLoginTest</td></tr>
<tr><td>com.tis.webdriver.testcases.logintests.LoginTests.loadMapPage</td></tr>
<tr><td>com.tis.webdriver.testcases.dashboardtests.DashboardTests.test_005_VerifyGoToDriver</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.CurrentStatus_VerifySliderButtonTests.currentStatus_004_VerifyTheRemainingDrivingTimeForTheDrivers</td></tr>
<tr><td>com.tis.webdriver.testcases.dashboardtests.DashboardTests.test_001_verifyHeaderPage</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.CurrentStatus_VerifySliderButtonTests.currentStatus_007_ClickonToggleBttn</td></tr>
<tr><td>com.tis.webdriver.testcases.reportstests.ReportsTests.reports_005_OpenDriverEventDetailsReport</td></tr>
<tr><td>com.tis.webdriver.testcases.reportstests.ReportsFavouriteTests.reports_001_VerifyFavouriteReport_DriverTab</td></tr>
<tr><td>com.tis.webdriver.testcases.plannertests.CurrentStatus_VerifySliderButtonTests.currentStatus_009_PrintCurrentStausDriver</td></tr>
<tr><td>com.tis.webdriver.testcases.reportstests.ReportsTests.reports_003_OpenDriverShiftProtolReports</td></tr>
</table>