<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Suite]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:33</td>   <td>3000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:36</td>   <td>6011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:39</td>   <td>9021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:42</td>   <td>12036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:45</td>   <td>15047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:48</td>   <td>18051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:51</td>   <td>21062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:54</td>   <td>24073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:57</td>   <td>27087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:01:00</td>   <td>30098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:01:03</td>   <td>33102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:01:06</td>   <td>36113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:01:09</td>   <td>39127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:00:39</td>   <td>9021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_002_VerifyDefaultMapLoad(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_002_VerifyDefaultMapLoad</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:00:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_003_VerifyAvailableSitesInDropDown(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_003_VerifyAvailableSitesInDropDown</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:00:42</td>   <td>12036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_004_VerifyAvailableDriversInDropDown(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_004_VerifyAvailableDriversInDropDown</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:01:00</td>   <td>30098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_005_VerifyAvailableVehiclesInDropDownMenu(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_005_VerifyAvailableVehiclesInDropDownMenu</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:00:57</td>   <td>27087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_006__VerifyToggle(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_006__VerifyToggle</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:01:06</td>   <td>36113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_007_VerifyTheDriverSelection(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_007_VerifyTheDriverSelection</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:00:51</td>   <td>21062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_008_Date(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_008_Date</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:01:03</td>   <td>33102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_009_VeriFyShiftDetails(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_009_VeriFyShiftDetails</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:00:54</td>   <td>24073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_010_VerifyHideAsset(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_010_VerifyHideAsset</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:00:33</td>   <td>3000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_011_VerifyTrace(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_011_VerifyTrace</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:00:48</td>   <td>18051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_012_VerifyTheDriverSelection(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_012_VerifyTheDriverSelection</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:00:45</td>   <td>15047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_013_VerifyTheVehicleSelection(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_013_VerifyTheVehicleSelection</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:01:09</td>   <td>39127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_014_VerifyTheSelectedVehicleAvailabeInAsset(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_014_VerifyTheSelectedVehicleAvailabeInAsset</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:00:36</td>   <td>6011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_015_VerifySearch(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_015_VerifySearch</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 15:00:09</td>   <td>-20728</td> <td>&nbsp;</td><td title="&gt;&gt;TraceTests.setUP()[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:09</td>   <td>-20650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:33</td>   <td>3000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:36</td>   <td>6011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:39</td>   <td>9021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:42</td>   <td>12036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:45</td>   <td>15047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:48</td>   <td>18051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:51</td>   <td>21062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:54</td>   <td>24073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:00:57</td>   <td>27087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:01:00</td>   <td>30098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:01:03</td>   <td>33102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:01:06</td>   <td>36113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 15:01:09</td>   <td>39158</td> <td title="&lt;&lt;NewTestTemplate.tearDown()[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
</table>
