<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:43</td>   <td>3014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:46</td>   <td>6027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:49</td>   <td>9042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:52</td>   <td>12016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:55</td>   <td>15056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:58</td>   <td>18068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:02:01</td>   <td>21079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:02:04</td>   <td>24090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:02:07</td>   <td>27101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:02:10</td>   <td>30113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:02:13</td>   <td>33125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:02:16</td>   <td>36126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:02:19</td>   <td>39098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:01:49</td>   <td>9042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_002_VerifyDefaultMapLoad(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_002_VerifyDefaultMapLoad</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:01:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_003_VerifyAvailableSitesInDropDown(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_003_VerifyAvailableSitesInDropDown</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:01:52</td>   <td>12013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_004_VerifyAvailableDriversInDropDown(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_004_VerifyAvailableDriversInDropDown</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:02:10</td>   <td>30113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_005_VerifyAvailableVehiclesInDropDownMenu(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_005_VerifyAvailableVehiclesInDropDownMenu</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:02:07</td>   <td>27101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_006__VerifyToggle(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_006__VerifyToggle</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:02:16</td>   <td>36126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_007_VerifyTheDriverSelection(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_007_VerifyTheDriverSelection</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:02:01</td>   <td>21079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_008_Date(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_008_Date</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:02:13</td>   <td>33125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_009_VeriFyShiftDetails(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_009_VeriFyShiftDetails</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:02:04</td>   <td>24090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_010_VerifyHideAsset(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_010_VerifyHideAsset</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:01:43</td>   <td>3014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_011_VerifyTrace(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_011_VerifyTrace</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:01:58</td>   <td>18068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_012_VerifyTheDriverSelection(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_012_VerifyTheDriverSelection</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:01:55</td>   <td>15056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_013_VerifyTheVehicleSelection(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_013_VerifyTheVehicleSelection</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:02:19</td>   <td>39097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_014_VerifyTheSelectedVehicleAvailabeInAsset(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_014_VerifyTheSelectedVehicleAvailabeInAsset</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:01:46</td>   <td>6027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TraceTests.plannerTrace_015_VerifySearch(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">plannerTrace_015_VerifySearch</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>17/09/28 11:01:29</td>   <td>-10931</td> <td>&nbsp;</td><td title="&gt;&gt;TraceTests.setUP()[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:29</td>   <td>-10869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:43</td>   <td>3014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:46</td>   <td>6027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:49</td>   <td>9042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:52</td>   <td>12019</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:55</td>   <td>15056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:01:58</td>   <td>18068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:02:01</td>   <td>21079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:02:04</td>   <td>24090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:02:07</td>   <td>27101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:02:10</td>   <td>30113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:02:13</td>   <td>33125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:02:16</td>   <td>36126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/09/28 11:02:19</td>   <td>39138</td> <td title="&lt;&lt;NewTestTemplate.tearDown()[pri:0, instance:com.tis.webdriver.testcases.plannertests.TraceTests@6f1fba17]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
</table>
