<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.tis.webdriver.testcases.logintests.LoginTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>navigateToTis</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>userLoginTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loadMapPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logoutTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.tis.webdriver.testcases.notificationstests.NotificationTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>notifications_010_GetNotificationsInActiveTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_007_FilterNotificationBySorting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_007_FilterNotificationByNotificationTypeNSeverity</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_004_VerifyTotalActiveNotifications</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_006_FilterNotificationBySite</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_005_VerifyTotalCompletedNotifications</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_001_VerifyPageHeader</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_003_VerifyNotificationsSeverity</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_008_ReOpenNotification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_006_FilterNotificationsByTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_002_ActiveTabsVerification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_009_VerifyNotificationInCompletedTab</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
