<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.logintests.LoginTests@54422e18]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>5211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_001_VerifyPageHeader(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_001_VerifyPageHeader</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>5218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_002_ActiveTabsVerification(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_002_ActiveTabsVerification</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>5224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_003_VerifyNotificationsSeverity(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_003_VerifyNotificationsSeverity</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>5229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_004_VerifyTotalActiveNotifications(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_004_VerifyTotalActiveNotifications</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>5235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_005_VerifyTotalCompletedNotifications(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_005_VerifyTotalCompletedNotifications</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>5247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_006_FilterNotificationsByTime(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_006_FilterNotificationsByTime</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>5251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_007_FilterNotificationBySorting(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_007_FilterNotificationBySorting</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>5257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_008_ReOpenNotification(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_008_ReOpenNotification</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>5261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_009_VerifyNotificationInCompletedTab(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_009_VerifyNotificationInCompletedTab</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>5273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notifications_010_GetNotificationsInActiveTab(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notifications_010_GetNotificationsInActiveTab</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:15</td>   <td>57</td> <td>&nbsp;</td><td title="&gt;&gt;NotificationTests.setUP()[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:37:19</td>   <td>-56094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.logintests.LoginTests@54422e18]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>5304</td> <td title="&lt;&lt;NewTestTemplate.tearDown()[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="b2889a">  <td>17/10/05 10:37:29</td>   <td>-45333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.userLoginTest()[pri:0, instance:com.tis.webdriver.testcases.logintests.LoginTests@54422e18]">userLoginTest</td> 
  <td>main@837457281</td>   <td></td> </tr>
</table>
