<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:37:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.logintests.LoginTests@54422e18]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="b2889a">  <td>17/10/05 10:37:29</td>   <td>10761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.userLoginTest()[pri:0, instance:com.tis.webdriver.testcases.logintests.LoginTests@54422e18]">userLoginTest</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:15</td>   <td>56094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.logintests.LoginTests@54422e18]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:15</td>   <td>56151</td> <td>&nbsp;</td><td title="&gt;&gt;NotificationTests.setUP()[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>61305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_001_VerifyPageHeader(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_001_VerifyPageHeader</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>61312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_002_ActiveTabsVerification(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_002_ActiveTabsVerification</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>61318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_003_VerifyNotificationsSeverity(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_003_VerifyNotificationsSeverity</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>61323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_004_VerifyTotalActiveNotifications(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_004_VerifyTotalActiveNotifications</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>61329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_005_VerifyTotalCompletedNotifications(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_005_VerifyTotalCompletedNotifications</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>61341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_006_FilterNotificationsByTime(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_006_FilterNotificationsByTime</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>61345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_007_FilterNotificationBySorting(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_007_FilterNotificationBySorting</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>61351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_008_ReOpenNotification(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_008_ReOpenNotification</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>61355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notification_009_VerifyNotificationInCompletedTab(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notification_009_VerifyNotificationInCompletedTab</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="83a7aa">  <td>17/10/05 10:38:20</td>   <td>61367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NotificationTests.notifications_010_GetNotificationsInActiveTab(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">notifications_010_GetNotificationsInActiveTab</td> 
  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
<tr bgcolor="8e7898">  <td>17/10/05 10:38:20</td>   <td>61398</td> <td title="&lt;&lt;NewTestTemplate.tearDown()[pri:0, instance:com.tis.webdriver.testcases.notificationstests.NotificationTests@28261e8e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837457281</td>   <td></td> </tr>
</table>
