<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>notification_004_VerifyNotificationsForCurrentMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_005_VerifyNotificationsForCurrentWeek</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_003_VerifyNotificationsForLastMonth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_002_VerifyNotificationsForLastWeek</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>notification_001_VerifyNotificationsForLastThreeMonths</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
