<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>85</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:34</td>   <td>17224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:39</td>   <td>21828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:44</td>   <td>26682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:44</td>   <td>27019</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:10:02</td>   <td>44979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_001_VerifyNotificationsForLastThreeMonths(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">notification_001_VerifyNotificationsForLastThreeMonths</td> 
  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_001_VerifyNotificationsForLastThreeMonths(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">notification_001_VerifyNotificationsForLastThreeMonths</td> 
  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:24</td>   <td>6745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_001_VerifyNotificationsForLastThreeMonths(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">notification_001_VerifyNotificationsForLastThreeMonths</td> 
  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_002_VerifyNotificationsForLastWeek(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">notification_002_VerifyNotificationsForLastWeek</td> 
  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_002_VerifyNotificationsForLastWeek(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">notification_002_VerifyNotificationsForLastWeek</td> 
  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:34</td>   <td>17232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_002_VerifyNotificationsForLastWeek(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">notification_002_VerifyNotificationsForLastWeek</td> 
  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_003_VerifyNotificationsForLastMonth(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">notification_003_VerifyNotificationsForLastMonth</td> 
  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>65</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_003_VerifyNotificationsForLastMonth(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">notification_003_VerifyNotificationsForLastMonth</td> 
  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:39</td>   <td>21836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_003_VerifyNotificationsForLastMonth(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">notification_003_VerifyNotificationsForLastMonth</td> 
  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_004_VerifyNotificationsForCurrentMonth(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">notification_004_VerifyNotificationsForCurrentMonth</td> 
  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>83</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_004_VerifyNotificationsForCurrentMonth(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">notification_004_VerifyNotificationsForCurrentMonth</td> 
  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:44</td>   <td>26688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_004_VerifyNotificationsForCurrentMonth(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">notification_004_VerifyNotificationsForCurrentMonth</td> 
  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>75</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_005_VerifyNotificationsForCurrentWeek(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">notification_005_VerifyNotificationsForCurrentWeek</td> 
  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_005_VerifyNotificationsForCurrentWeek(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">notification_005_VerifyNotificationsForCurrentWeek</td> 
  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:44</td>   <td>27374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_005_VerifyNotificationsForCurrentWeek(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">notification_005_VerifyNotificationsForCurrentWeek</td> 
  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>-33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>-29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>-30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>74</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>92</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:34</td>   <td>17224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:39</td>   <td>21828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:44</td>   <td>26683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:44</td>   <td>27369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:10:02</td>   <td>44989</td> <td title="&lt;&lt;NewTestTemplate.tearDown()[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
</table>
