<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_001_VerifyNotificationsForLastThreeMonths(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">notification_001_VerifyNotificationsForLastThreeMonths</td> 
  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_001_VerifyNotificationsForLastThreeMonths(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">notification_001_VerifyNotificationsForLastThreeMonths</td> 
  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_002_VerifyNotificationsForLastWeek(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">notification_002_VerifyNotificationsForLastWeek</td> 
  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_002_VerifyNotificationsForLastWeek(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">notification_002_VerifyNotificationsForLastWeek</td> 
  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>66</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>73</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>79</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_003_VerifyNotificationsForLastMonth(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">notification_003_VerifyNotificationsForLastMonth</td> 
  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>81</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>87</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_004_VerifyNotificationsForCurrentMonth(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">notification_004_VerifyNotificationsForCurrentMonth</td> 
  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>88</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>89</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>98</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_003_VerifyNotificationsForLastMonth(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">notification_003_VerifyNotificationsForLastMonth</td> 
  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_005_VerifyNotificationsForCurrentWeek(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">notification_005_VerifyNotificationsForCurrentWeek</td> 
  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@71318ec4]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@330686876</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_004_VerifyNotificationsForCurrentMonth(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">notification_004_VerifyNotificationsForCurrentMonth</td> 
  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:17</td>   <td>152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_005_VerifyNotificationsForCurrentWeek(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">notification_005_VerifyNotificationsForCurrentWeek</td> 
  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:17</td>   <td>155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@6536e911]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1747607670</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:24</td>   <td>6778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_001_VerifyNotificationsForLastThreeMonths(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">notification_001_VerifyNotificationsForLastThreeMonths</td> 
  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:34</td>   <td>17257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:34</td>   <td>17257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:34</td>   <td>17265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_002_VerifyNotificationsForLastWeek(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">notification_002_VerifyNotificationsForLastWeek</td> 
  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:39</td>   <td>21861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:39</td>   <td>21861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:39</td>   <td>21869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_003_VerifyNotificationsForLastMonth(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">notification_003_VerifyNotificationsForLastMonth</td> 
  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:44</td>   <td>26715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:44</td>   <td>26716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:44</td>   <td>26721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_004_VerifyNotificationsForCurrentMonth(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">notification_004_VerifyNotificationsForCurrentMonth</td> 
  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:44</td>   <td>27052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:09:44</td>   <td>27402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTestTemplate.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/07/18 15:09:44</td>   <td>27407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompletedNotificationsListTests.notification_005_VerifyNotificationsForCurrentWeek(java.lang.reflect.Method)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">notification_005_VerifyNotificationsForCurrentWeek</td> 
  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:10:02</td>   <td>45012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTestTemplate.getResult(org.testng.ITestResult)[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>TestNG@1982241455</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>17/07/18 15:10:02</td>   <td>45022</td> <td title="&lt;&lt;NewTestTemplate.tearDown()[pri:0, instance:com.tis.webdriver.testcases.notificationstests.CompletedNotificationsListTests@67784306]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@727001376</td>   <td></td> </tr>
</table>
